.App {
  text-align: center;
}

.ui.main.container {
  margin-top: 5em;
}

.ui.main.container {
  margin-bottom: 1em;
}

.footertext {
  color: white;
  padding: 15px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
