<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th>Ürün Numarası</th>
      <th>Ürün Adı</th>
      <th>Kategorisi Numarası</th>
      <th>Fiyat Bilgisi</th>
      <th>Güncel Stok Adedi</th>
    </tr>
  </thead>
  <tr *ngFor="let product of products">
    <td>{{ product.productId }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.categoryId }}</td>
    <td>{{ product.unitPrice }}</td>
    <td>{{ product.unitsInStock }}</td>
  </tr>
</table>
