<div class="card" *ngIf="dataLoaded==true">
    <div class="card-header text-center">
        <strong>
            {{carDetail.car.brandName}} - {{carDetail.car.modelYear}}
        </strong>
    </div>
    <div class="card-body"> 
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of carDetail.carImages let i = index" [ngClass]="getSliderClassName(i)">
                <img src="{{imageBasePath}}/{{image.imagePath}}" class="d-block w-100" width="800" height="400" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
       <table class="table">
           <thead>
               <tr>
                   <th>Araç Kodu</th>
                   <th>Marka</th>
                   <th>Model</th>
                   <th>Renk</th>
                   <th>Günlük Ücret</th>
                   <th>Açıklama</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <td>{{carDetail.car.carId}}</td>
                   <td>{{carDetail.car.brandName}}</td>
                   <td>{{carDetail.car.modelYear}}</td>
                   <td>{{carDetail.car.colorName}}</td>
                   <td>{{carDetail.car.dailyPrice}}</td>
                   <td>{{carDetail.car.description}}</td>
               </tr>
           </tbody>
       </table>
    </div>
</div>