<h2 class="text-center">Kiralık Araba Listesi</h2>

<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-border text-dark text-center" role="status">
    <span class="visually-hidden">Yükleniyor...</span>
  </div>
</div>
<table class="table" *ngIf="dataLoaded == true">
  <thead>
    <tr>
      <th>Araba Adı</th>
      <th>Müşteri Adı</th>
      <th>Teslim Alma Tarihi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.carName }}</td>
      <td>{{ rental.customerName }}</td>
      <td>
        {{
          rental.returnDate == null
            ? "Teslim Alınmadı"
            : (rental.returnDate | date: "dd-MM-YYYY")
        }}
      </td>
    </tr>
  </tbody>
</table>
